<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div class="ma-16">
    <v-container>
      <v-row>
        <v-col cols="6">
          <FirstComponent></FirstComponent>
        </v-col>
        <v-col col="6">
          <SecondComponent></SecondComponent>
        </v-col>
        <v-col cols="6"
          ><v-btn @click="counterStore.increment()"> INCREMENT </v-btn></v-col
        >
        <v-col cols="6"
          ><v-btn @click="counterStore.decrement()">DECREASE</v-btn></v-col
        >
      </v-row>
    </v-container>
  </div>
</template>
