<script setup lang="ts">
import { ref } from "vue";
const showImg = ref("./feeling_imgs/smile.png");
const msg = ref("Smile");
function angry() {
  msg.value = "Angry";
  showImg.value = "./feeling_imgs/angry.png";
}
function cute() {
  msg.value = "Cute";
  showImg.value = "./feeling_imgs/cute.png";
}
function excited() {
  msg.value = "Excited";
  showImg.value = "./feeling_imgs/excited.png";
}
function pain() {
  msg.value = "Pain";
  showImg.value = "./feeling_imgs/pain.png";
}
function shocked() {
  msg.value = "Shocked";
  showImg.value = "./feeling_imgs/shocked.png";
}
function smile() {
  msg.value = "Smile";
  showImg.value = "./feeling_imgs/smile.png";
}
</script>
<template>
  <v-row>
    <v-col>
      <div class="ma-16">
        <v-img width="500" :aspect-ratio="1" :src="showImg" class="img"></v-img>
      </div>
    </v-col>
    <v-col>
      <div class="ma-16 text-body">
        <v-row justify="center" style="font-size: 300%"> {{ msg }} </v-row>

        <v-row>
          <v-btn class="button" width="600px" @click="angry"> ANGRY </v-btn>
        </v-row>

        <v-row>
          <v-btn class="button" width="600px" @click="cute"> CUTE </v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" width="600px" @click="excited"> EXCITED </v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" width="600px" @click="pain"> PAIN </v-btn>
        </v-row>

        <v-row>
          <v-btn class="button" width="600px" @click="shocked"> SHOCKED </v-btn>
        </v-row>
        <v-row>
          <v-btn class="button" width="600px" @click="smile"> SMILE </v-btn>
        </v-row>
      </div>
    </v-col>
  </v-row>
</template>

<style scoped>
.button {
  margin-bottom: 20px;
  width: 100%;
}
.button:focus {
  background-color: yellow;
  margin-bottom: 20px;
  width: 100%;
}
</style>
